.logo{
    height: 160px;
    width: 160px;
}

main{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Inter', sans-serif;

}

.boton{
  height: 50px;
  border-radius: 156px;
padding-top: 8px;
}

a{
    text-decoration: none;
    color: white;
}
.rojo{
    background-color: #EA4335;

}
.verde{
    background-color: #0F9D58;
}

.azul{
    background-color: #4285F4;
}